img {
    width: 100%;
    height: auto;
}

html {
    background-color: #CBF5FF;
    font-size: 0.49rem;
    font-family: 'Roboto', sans-serif;
}

/*OLIVERS KODE HER */
.form-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: start;
  padding: 1.5rem;
  background: #1b1c26;
  color: #fff;
  border-radius: 8px;
    margin-top: 15vh;
}

article {
  padding-right: 2rem;
  border-right: 2px solid #238db4;
}

/* Forms CSS */
.form-felt {
  margin-bottom: 1rem;
}

label {
  display: grid;
  justify-items: start;
  font-weight: 600;
}

input {
  display: block;
  font-size: 1.1rem;
  padding: .5rem;
  border-radius: 4px;
  border: 0;
}

button {
  padding: .75rem 1rem;
  margin-top: 1.1rem;
  border: 0;
  border-radius: 4px;
  background: #238db4;
  color: #fff;
  text-shadow: 0 0 6px rgb(0 0 0 / 40%);
  font-weight: 700;
  font-size: 1rem;
}

/*OLIVERS KODE HER */


@media only screen and (max-width: 600px) {
    html {
        background-color: red;
    }
}

@media only screen and (min-width: 600px) {

    html {
        background-color: blueviolet;
    }
}

@media only screen and (min-width: 1100px) {

    html {
        background-color: #CBF5FF;
    }

    nav {
        display: grid;
        min-height: 10em;
        grid-auto-flow: column;
        background-color: #FFFFFF;
        grid-gap: 1em;
        padding: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
        position: relative;
    }

    #logo {
        display: grid;
        margin: auto;
        background-image: url(mintrecordslogo.svg);
        background-size: cover;
        width: 36%;
        height: 223%;
        padding-right: 7em;
        padding-left: 7em;
    }

    #links1 {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 40em;
        padding-right: 0em;
    }

    #links2 {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 40em;
        padding-left: 0em;
    }

    nav a {
        font-size: 4.5em;
        color: black;
        text-decoration: none;
        text-align: center;
    }

    nav a:hover {
        color: #0045C7;
    }

    #splashbilde {}

    #popular {
        padding: 2em;
        text-align-last: center;
        font-size: 3em;
    }

    #popular h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }

    video {
        width: 70%;
        display: block;
        margin: 0 auto;
        margin-top: 1vw;
    }
    #kart {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding-bottom: 10em;
        padding-top: 10em;
        background-color: #EBFBFF;
    }

    #google {
        grid-column-start: 2;
        grid-column-end: 3;
        padding-left: 5em;
    }

    #informasjon {
        background-color: #B2DCDC;
        grid-column-start: 3;
        grid-column-end: 5;
    }

    #tekst {
        padding-top: 10em;
        padding-left: 10em;
        font-size: 3em;
    }


    footer {
        display: grid;
        justify-content: center;
        align-content: center;
        position: fixed;
        height: 2em;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: black;
        font-size: 1em;
    }

}
