/*---------------------------------------Generelt--------------------------------------*/
* {
    margin: 0px;
    font-size: 62.5%;
}

img {
    width: 100%;
    height: auto;
}

html {
    background-color: #CBF5FF;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

/*Animasjoner*/

.hidden {
    opacity: 0;
}

#links1 {
    transition: transform 0.3s;
    transform-origin: top left;
}

#links2 {
    transition: transform 0.3s;
    transform-origin: top left;
}

#menuknapp {
    cursor: pointer;
    font-size: 50px;
    margin-top: -20px;
}

/*---------------------------------------mobil media--------------------------------------*/


@media only screen and (max-width: 800px) {

    html {
        background-color: #CBF5FF;
    }

    nav {
        display: grid;
        height: 30px;
        grid-auto-flow: column;
        background-color: #FFFFFF;
        grid-gap: 1em;
        padding: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
        position: relative;
    }

    #logo {
        display: grid;
        margin: auto;
        background-size: cover;
        height: 150px;
        width: 90px;
    }

    #links1 {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 30px;
        padding-bottom: 115px;
        font-size: 3px;
    }

    #links2 {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 30px;
        padding-bottom: 115px;
        font-size: 3px;
    }

    nav a {
        font-size: 4.5em;
        color: black;
        text-decoration: none;
        text-align: center;
    }

    nav a:hover {
        color: #0045C7;
    }

    footer {
        display: grid;
        justify-content: center;
        align-content: center;
        position: fixed;
        height: 2em;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: black;
        font-size: 1em;
    }

    .wrapper img {
        width: 7%;
        height: auto;
        position: absolute;
        top: 4%;
        left: 8.6%;
        margin: 5px;
    }

    .col img {
        width: 100%;
        height: auto;
    }

    section {
        margin: 0;
    }

    body {
        background-color: #CBF5FF;
        margin: 0;
    }

    h2 {
        font-size: 8em;
        color: black;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 200;
        text-decoration: none;
        border: 2px;
        padding: 10px;
        /*width: 60%;*/
        text-align: center;
    }

    h3 {
        color: black;
        font-size: 6em;
    }

    a {
        font-size: large;
        text-decoration: none;
    }

    a:link {
        color: black;
    }

    a:visited {
        color: black;
        font-weight: bold;
    }


    a:active {
        color: black;
    }

    .col p {
        font-size: 6em;
        line-height: 1.4;
    }

    /*fjerde sektion*/

    #fourth_section {
        padding: 70px;
    }
}

/*---------------------------------------tablet media--------------------------------------*/

@media screen and (max-width: 1100px) and (min-width: 800px) {

    #menuknapp {
        display: none;
    }

    #links1.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #links2.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #fourth_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        margin-top: 20px;
    }

    * {
        margin: 0px;
        font-size: 62.5%;
    }

    img {
        width: 100%;
        height: auto;
    }

    html {
        background-color: #CBF5FF;
        font-size: 1.6rem;
        font-family: 'Roboto', sans-serif;
    }

    nav {
        display: grid;
        height: 55px;
        grid-auto-flow: column;
        background-color: #FFFFFF;
        grid-gap: 1em;
        padding: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
        position: relative;
    }

    #logo {
        display: grid;
        margin: auto;
        background-size: cover;
        height: 180px;
        width: 150px;
    }

    #links1 {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 40em;
        padding-bottom: 115px;
    }

    #links2 {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 40em;
        padding-bottom: 115px;
    }

    nav a {
        font-size: 4.5em;
        color: black;
        text-decoration: none;
        text-align: center;
    }

    nav a:hover {
        color: #0045C7;
    }

    .wrapper img {
        width: 7%;
        height: auto;
        position: absolute;
        top: 4%;
        left: 8.6%;
        margin: 5px;
    }

    .col img {
        width: 100%;
        height: auto;
    }

    section {
        margin: 0;
    }

    body {
        background-color: #CBF5FF;
        margin: 0;
    }

    h2 {
        font-size: 8em;
        color: black;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 200;
        text-decoration: none;
        border: 2px;
        padding: 10px;
        /*width: 60%;*/
        text-align: center;
    }

    h3 {
        color: black;
        font-size: 6em;
    }

    a {
        font-size: large;
        text-decoration: none;
    }

    a:link {
        color: black;
    }

    a:visited {
        color: black;
        font-weight: bold;
    }


    a:active {
        color: black;
    }

    .col p {
        font-size: 6em;
        line-height: 1.4;
    }

    /*fjerde sektion*/

    #fourth_section {
        padding: 70px;
    }

    footer {
        display: grid;
        justify-content: center;
        align-content: center;
        position: fixed;
        height: 2em;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: black;
        font-size: 1em;
    }
}

/*---------------------------------------desktop media-------------------------------------*/

@media only screen and (min-width: 1100px) {

    #menuknapp {
        display: none;
    }

    #links1.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #links2.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #fourth_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        margin-top: 20px;
    }

    nav {
        display: grid;
        height: 55px;
        grid-auto-flow: column;
        background-color: #FFFFFF;
        grid-gap: 1em;
        padding: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
        position: relative;
    }

    #logo {
        display: grid;
        margin: auto;
        background-size: cover;
        height: 180px;
        width: 150px;
    }

    #links1 {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 40em;
        padding-bottom: 115px;
    }

    #links2 {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 40em;
        padding-bottom: 115px;
    }

    nav a {
        font-size: 4.5em;
        color: black;
        text-decoration: none;
        text-align: center;
    }

    nav a:hover {
        color: #0045C7;
    }

    .wrapper img {
        width: 7%;
        height: auto;
        position: absolute;
        top: 4%;
        left: 8.6%;
        margin: 5px;
    }

    .col img {
        width: 100%;
        height: auto;
    }

    section {
        margin: 0;
    }

    body {
        background-color: #CBF5FF;
        margin: 0;
    }

    h2 {
        font-size: 8em;
        color: black;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 200;
        text-decoration: none;
        border: 2px;
        padding: 10px;
        /*width: 60%;*/
        text-align: center;
    }

    h3 {
        color: black;
        font-size: 6em;
    }

    a {
        font-size: large;
        text-decoration: none;
    }

    a:link {
        color: black;
    }

    a:visited {
        color: black;
        font-weight: bold;
    }


    a:active {
        color: black;
    }

    .col p {
        font-size: 6em;
        line-height: 1.4;
    }

    /*fjerde sektion*/

    #fourth_section {
        padding: 70px;
    }

    footer {
        display: grid;
        justify-content: center;
        align-content: center;
        position: fixed;
        height: 2em;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: black;
        font-size: 1em;
    }
}
