* {
    margin: 0px;
    font-size: 62.5%;
}

img {
    width: 100%;
    height: auto;
}

html {
    background-color: #CBF5FF;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

/*Animasjoner*/

.hidden {
    opacity: 0;
}

#links1 {
    transition: transform 0.3s;
    transform-origin: top left;
}

#links2 {
    transition: transform 0.3s;
    transform-origin: top left;
}

#menuknapp {
    cursor: pointer;
    font-size: 50px;
    margin-top: -20px;
}

@media only screen and (max-width: 800px) {
 html {
        background-color: #CBF5FF;
    }

    nav {
        display: grid;
        height: 30px;
        grid-auto-flow: column;
        background-color: #FFFFFF;
        grid-gap: 1em;
        padding: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
        position: relative;
    }

    #logo {
        display: grid;
        margin: auto;
        background-size: cover;
        height: 180px;
        width: 90px;
    }

    #links1 {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 30px;
        padding-bottom: 115px;
        font-size: 3px;
    }

    #links2 {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 30px;
        padding-bottom: 115px;
        font-size: 3px;
    }
    nav a {
        font-size: 4.5em;
        color: black;
        text-decoration: none;
        text-align: center;
    }

    nav a:hover {
        color: #0045C7;
    }

    footer {
        display: grid;
        justify-content: center;
        align-content: center;
        position: fixed;
        height: 2em;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: black;
        font-size: 1em;
    }

    .section_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 10px;
    }

    .section_wrapper img {
        width: 300px;
    }

    #varer .section_wrapper {
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        font-size: 5em;
        text-align: center;
        padding-bottom: 30px;
    }


    .album1 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-bottom: 15px;
    }

    .album2 {
        grid-column-start: 3;
        grid-column-end: span 4;
        grid-row-start: 1;
        grid-row-end: span 2;
        margin-bottom: 15px;
    }

    .album3 {
        grid-column-start: 4;
        grid-column-end: span 5;
        grid-row-start: 1;
        grid-row-end: span 2;
        margin-bottom: 15px;
    }

    .album4 {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 2;
        grid-row-end: span 3;
        margin-bottom: 15px;
    }

    .album5 {
        grid-column-start: 2;
        grid-column-end: span 3;
        grid-row-start: 2;
        grid-row-end: span 3;
        margin-bottom: 15px;
    }

    .album6 {
        grid-column-start: 3;
        grid-column-end: span 4;
        grid-row-start: 2;
        grid-row-end: span 3;
        margin-bottom: 15px;
    }

    .album7 {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 3;
        grid-row-end: span 4;
        margin-bottom: 15px;
    }

    .album8 {
        grid-column-start: 2;
        grid-column-end: span 3;
        grid-row-start: 3;
        grid-row-end: span 4;
        margin-bottom: 15px;
    }

    .album9 {
        grid-column-start: 3;
        grid-column-end: span 4;
        grid-row-start: 3;
        grid-row-end: span 4;
        margin-bottom: 15px;
    }

    h3 {
        margin-top: 2em;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 3em;
        font-weight: 100;
        margin-bottom: 2em;
    }
}

@media screen and (min-width: 800px) and (max-width: 1100px) {

    #menuknapp {
        display: none;
    }

    #links1.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #links2.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    html {
        background-color: #CBF5FF;
    }

    nav {
        display: grid;
        height: 55px;
        grid-auto-flow: column;
        background-color: #FFFFFF;
        grid-gap: 1em;
        padding: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
        position: relative;
    }

    #logo {
        display: grid;
        margin: auto;
        background-size: cover;
        height: 180px;
        width: 150px;
    }

    #links1 {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 40em;
        padding-bottom: 115px;
    }

    #links2 {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 40em;
        padding-bottom: 115px;
    }

    nav a {
        font-size: 4.5em;
        color: black;
        text-decoration: none;
        text-align: center;
    }

    nav a:hover {
        color: #0045C7;
    }

    footer {
        display: grid;
        justify-content: center;
        align-content: center;
        position: fixed;
        height: 2em;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: black;
        font-size: 1em;
    }

    .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 10px;
    }

    .section_wrapper img {
        width: 200px;
    }

    #varer .section_wrapper {
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        font-size: 5em;
        text-align: center;
        padding-bottom: 30px;
    }


    .album1 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-bottom: 15px;
    }

    .album2 {
        grid-column-start: 3;
        grid-column-end: span 4;
        grid-row-start: 1;
        grid-row-end: span 2;
        margin-bottom: 15px;
    }

    .album3 {
        grid-column-start: 4;
        grid-column-end: span 5;
        grid-row-start: 1;
        grid-row-end: span 2;
        margin-bottom: 15px;
    }

    .album4 {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 2;
        grid-row-end: span 3;
        margin-bottom: 15px;
    }

    .album5 {
        grid-column-start: 2;
        grid-column-end: span 3;
        grid-row-start: 2;
        grid-row-end: span 3;
        margin-bottom: 15px;
    }

    .album6 {
        grid-column-start: 3;
        grid-column-end: span 4;
        grid-row-start: 2;
        grid-row-end: span 3;
        margin-bottom: 15px;
    }

    .album7 {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 3;
        grid-row-end: span 4;
        margin-bottom: 15px;
    }

    .album8 {
        grid-column-start: 2;
        grid-column-end: span 3;
        grid-row-start: 3;
        grid-row-end: span 4;
        margin-bottom: 15px;
    }

    .album9 {
        grid-column-start: 3;
        grid-column-end: span 4;
        grid-row-start: 3;
        grid-row-end: span 4;
        margin-bottom: 15px;
    }

    h3 {
        margin-top: 2em;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 3em;
        font-weight: 100;
        margin-bottom: 2em;
    }
}

@media only screen and (min-width: 1100px) {

    #menuknapp {
        display: none;
    }

    #links1.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #links2.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    html {
        background-color: #CBF5FF;
        font-size: 1.6rem;
        font-family: 'Roboto', sans-serif;
    }

    nav {
        display: grid;
        height: 55px;
        grid-auto-flow: column;
        background-color: #FFFFFF;
        grid-gap: 1em;
        padding: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
        position: relative;
    }

    #logo {
        display: grid;
        margin: auto;
        background-size: cover;
        height: 180px;
        width: 150px;
    }

    #links1 {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 40em;
        padding-bottom: 115px;
    }

    #links2 {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 40em;
        padding-bottom: 115px;
    }

    nav a {
        font-size: 4.5em;
        color: black;
        text-decoration: none;
        text-align: center;
    }

    nav a:hover {
        color: #0045C7;
    }

    .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 20px;
    }

    .section_wrapper img {
        width: 300px;
    }

    #varer .section_wrapper {
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        font-size: 5em;
        text-align: center;
        padding-bottom: 30px;
    }


    .album1 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-bottom: 20px;
    }

    .album2 {
        grid-column-start: 3;
        grid-column-end: span 4;
        grid-row-start: 1;
        grid-row-end: span 2;
        margin-bottom: 20px;
    }

    .album3 {
        grid-column-start: 4;
        grid-column-end: span 5;
        grid-row-start: 1;
        grid-row-end: span 2;
        margin-bottom: 20px;
    }

    .album4 {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 2;
        grid-row-end: span 3;
        margin-bottom: 20px;
    }

    .album5 {
        grid-column-start: 2;
        grid-column-end: span 3;
        grid-row-start: 2;
        grid-row-end: span 3;
        margin-bottom: 20px;
    }

    .album6 {
        grid-column-start: 3;
        grid-column-end: span 4;
        grid-row-start: 2;
        grid-row-end: span 3;
        margin-bottom: 20px;
    }

    .album7 {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 3;
        grid-row-end: span 4;
        margin-bottom: 20px;
    }

    .album8 {
        grid-column-start: 2;
        grid-column-end: span 3;
        grid-row-start: 3;
        grid-row-end: span 4;
        margin-bottom: 20px;
    }

    .album9 {
        grid-column-start: 3;
        grid-column-end: span 4;
        grid-row-start: 3;
        grid-row-end: span 4;
        margin-bottom: 20px;
    }

    h3 {
        margin-top: 2em;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 3em;
        font-weight: 100;
        margin-bottom: 2em;
    }

    footer {
        display: grid;
        justify-content: center;
        align-content: center;
        position: fixed;
        height: 2em;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: black;
        font-size: 1em;
    }

}
